<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    {% include 'head.html' %}
</head>
<body>
{% include 'navbar.html' %}

<div class="container d-flex justify-content-center mt-5">
    <form action="/add_authorized_host" method="get">
        <div class="form-group">
            <label for="host">Host</label>
            <input type="text" class="form-control" id="host" name="host" required>
            <input type="submit" class="btn btn-primary mt-3" value="Add Authorized Host">
        </div>
    </form>
</div>

<div class="container d-flex justify-content-center mt-5">
    <form action="/view_requests" method="get">
        <div class="form-group">
            <label for="host-1">Host</label>
            <input type="text" class="form-control" id="host-1" name="host" required>
            <input type="submit" class="btn btn-primary mt-3" value="Search Host Requests">
        </div>
    </form>
</div>

{% include 'footer.html' %}
</body>
</html>