<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hosts that attempted to acces {{ endpoint }}</title>
    {% include 'head.html' %}
</head>
<body>
{% include 'navbar.html' %}

<div class="container d-flex justify-content-center mt-5">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Host</th>
            <th scope="col">Count</th>
            <th scope="col">Requests</th>
            <th scope="col">Other Requests</th>
        </tr>
        </thead>
        <tbody>
        {% for host in hosts %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ host.0 }}</td>
            <td>{{ host.1 }}</td>
            <td>
                <a href="/requests_by_host?host={{ host.0 }}&endpoint={{ endpoint }}">
                    <button type="button" class="btn btn-primary">
                        Requests from {{ host.0 }} to {{ endpoint }}
                    </button>
                </a>
            </td>
            <td>
                <a href="/requests_by_host?host={{ host.0 }}">
                    <button type="button" class="btn btn-primary">
                        Requests from {{ host.0 }}
                    </button>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% include 'footer.html' %}
</body>
</html>