<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewed Hosts</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% include 'navbar.html' %}


<!-- Hosts Table -->
<div class="container d-flex justify-content-center mt-5">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Host</th>
            <th scope="col">Total Requests</th>
            <th scope="col">Acceptable Requests</th>
            <th scope="col">Unacceptable Requests</th>
            <th scope="col">View Requests</th>
            <th scope="col">View IP Details</th>
        </tr>
        </thead>
        <tbody>
        {% for host in hosts %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ host.host }}</td>
            <td>{{ host.total_requests }}</td>
            <td>{{ host.valid_requests }}</td>
            <td>{{ host.invalid_requests }}</td>
            <td>
                <a href="/view_requests?host={{ host.host }}">
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#viewRequestsModal{{ loop.index }}">
                        View Requests
                    </button>
                </a>
            </td>
            <td>
                <a href="https://whatismyipaddress.com/ip/{{ host.host }}" target="_blank">
                    <button type="button" class="btn btn-primary">
                        IP Details
                    </button>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>